<section class="hero {{ .extra_class }}">
	<div class="hero-logo__container _l_container">
		<div class="hero-logo__inner _l_inner">
			<img src="{{ .logo }}" alt="Some alt text to replace with variable">
		</div>
	</div>
	<div class="hero-image__container">
		<div class="hero-image__inner">
			<img src="{{ .hero_image }}" alt="Some alt text to replace with variable">
		</div>
	</div>
	<div class="hero-heading__container _l_container">
		<div class="hero-heading__inner _l_inner">
			<span>{{ .heading }}</span>
		</div>
	</div>

	{{ $formgroup := .form_group }}
	{{ range $formgroup }}
		{{ $formblock := $formgroup.form_block }}
		{{ range $formblock }}
			{{ $formTemplate := .template }}
			{{ if eq $formTemplate "single-step-form" }}
				{{ partial "single-step-form.html" . }}
			{{ else if eq $formTemplate "multi-step-form"}}
				{{ partial "multi-step-form.html" . }}
			{{ else }}
			{{ end }}
		{{ end }}
	{{ end }}

</section>
